
<div class="h-max w-screen fixed bottom-3 left-0 flex justify-center items-center z-50">

  <div class=" h-16 w-[90%] rounded-2xl flex justify-between items-center  px-10 text-3xl  bg-black/90 md:hidden">
    <div class="home">
      <span routerLink="home" class="material-symbols-rounded text-3xl text-white">
        home
        </span>
    </div>
    <div class="favorite">
      <span routerLink="/wishlist" class="material-symbols-rounded text-3xl text-white">
        favorite
        </span>
    </div>
    <div routerLink="/cart" class="bag flex relative">
      <span class="material-symbols-rounded text-3xl text-white">
        local_mall
        </span>
        <p *ngIf="bagitemcount != 0" class="flex justify-center items-center rounded-full h-6 w-max px-1 bg-red-500/80 text-lg absolute top-[-8px] right-[-8px]"> {{bagitemcount}} </p>
    </div>
    <div class="me">
      <span routerLink="/aboutme" class="material-symbols-rounded text-3xl text-white">
        sentiment_very_satisfied
        </span>
    </div>
  </div>


</div>

