<div class="h-max md:h-screen w-full py-24 flex flex-col overflow-hidden">

  <div class="hidden md:block h-max w-full px-6 py-2 absolute -top-[110px] hover:bg-white/70 duration-1000 mx-auto">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="h-max w-[95%] md:w-[80%] lg:w-[50%] pb-12 lg:mt-12 flex flex-col justify-center items-center overflow-hidden bg-white/70 border-[1px] border-black rounded-sm mx-auto">
  <div class="h-max w-[95%] md:w-[90%] p-3 py-10  flex flex-col gap-3 md:gap-6 md:flex-row ">

     <div class="h-full w-full flex flex-col gap-3 md:gap-6">
      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">Full Name</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black rounded-md" type="text">
      </div>

      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">Email</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black rounded-md" type="email">
      </div>

      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">City</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black  rounded-md" type="number">
      </div>

      <div class="h-max w-full flex">

        <div class="h-24 w-1/2 p-1  flex flex-col justify-center text-xl text-black font-medium ">
          <label class="h-[40%] w-full" for="">State</label>
          <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black rounded-md" type="text">
        </div>

        <div class="h-24 w-1/2 p-1  flex flex-col justify-center text-xl text-black font-medium ">
          <label class="h-[40%] w-full" for="">Zip Code</label>
          <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black rounded-md" type="number">
        </div>

      </div>
    </div>




    <div class="h-full w-full flex flex-col gap-3 md:gap-6">
      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">Address</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black  rounded-md" type="text">
      </div>

      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">Phone Number</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black  rounded-md" type="number">
      </div>

      <div class="h-24 w-full p-1  flex flex-col justify-center text-xl text-black font-medium ">
        <label class="h-[40%] w-full" for="">Alternative Number</label>
        <input class="h-[55%] w-full p-2 outline-none border-[1px] border-black  rounded-md" type="text">
      </div>

      <div class="h-20 mt-7 w-full flex bg-green-700">
  <img class="h-full w-full object-cover" src="../../assets/Image/visacards.png" alt="">
      </div>
    </div>

</div>
<button  class="h-max w-[90%] p-3 rounded-md bg-black/90 text-base font-medium cursor-pointer active:border-[1px] active:border-green-600 active:bg-white/70 active:text-green-600 text-white">Proceed To Checkout</button>
</div>

</div>
