<div class=" md:h-screen w-full md:w-full pt-12 pb-28 md:pb-0 overflow-hidden flex justify-center items-center bg-transparent backdrop-blur-sm">

  <div class="hidden md:block h-screen w-full absolute top-0 -z-50">
    <img class="h-full w-full object-cover object-right-bottom" src="../../assets/Image/navbarpic2.jpg" alt="">
  </div>

  <div class="h-max w-max ">
  <div *ngIf="switch" class=" h-max w-80 rounded-3xl flex flex-col items-center p-3 px-8 md:w-[480px] bg-white/70 md:p-6 md:px-4 border-2 border-black md:border-0">
    <p class="text-2xl text-black/80 font-semibold md:text-4xl">SIGN IN</p>
    <form class="flex flex-col items-center justify-center mt-5 gap-4 md:gap-8 md:mt-10" #loginform = ngForm action="">
      <div class="flex flex-col ">
        <label class="text-xl text-black/80 font-medium" for="">UserName</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Username" type="text"
      placeholder="Email"
      name="email"
      type="text"
      #userid = 'ngModel'
      ngModel
      email
      [ngClass]="{'border-red-600 , border-[2px]': userid.touched && userid.invalid }"
      required
      >
      </div>
      <div *ngIf="userid.touched && userid.invalid" class="h-max w-full p-2 md:p-3 -mt-5 md:-mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-sm text-white">
        <div class="text-base text-red-600" *ngIf="userid.errors?.['required']" >Email Cannot be Empty</div>
        <div class="text-base text-red-600" *ngIf="userid.errors?.['email']" >Please Enter a Valid Email</div>
       </div>

      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">PassWord</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Password" type="password"
      name="password"
      type="password"
      #userpass="ngModel"
      ngModel
      [ngClass]="{'border-red-600 , border-[2px]': userpass.touched && userpass.invalid }"
      required
      >
      </div>
      <div *ngIf="userpass.touched && userpass.invalid" class="h-max w-full p-2 md:p-3 -mt-5 md:-mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-base text-red-600">
        Password Cannot be Empty
       </div>

      <button (click)="accountswitch()" class="text-black/80">Don't have an account ?</button>

      <button (click)="Onsubmit(userid.value,userpass.value)" class="text-xl font-medium h-max w-max p-1 -mt-1 rounded-lg bg-white/90 md:p-3 md:px-6 border-2 border-black" type="button">Submit</button>

    </form>
  </div>


  <!-- ------------------------------------------------------------sign-up---------------------------------------- -->


  <div *ngIf="!switch" class=" h-max w-max rounded-3xl flex flex-col items-center p-3 px-8 bg-white/70 md:p-6 md:px-8 border-2 border-black">
    <p class="text-2xl text-black/80 font-semibold md:text-4xl">SIGN UP</p>
    <form class="flex flex-col md:flex-row items-center justify-center mt-5 gap-4 md:gap-8 md:mt-10" [formGroup]="signUpForm"  action="" >

      <div class="h-full w-max flex flex-col gap-8">
      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">FirstName</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Firstname" type="text"
      formControlName="firstname"
      [ngClass]="{'border-red-600 , border-[2px]': firstname?.touched && firstname?.invalid }"
      required
      >
      </div>
<div *ngIf="firstname?.touched && firstname?.invalid">
  <div *ngIf="firstname?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-base text-red-600">
    FirstName Cannot be Empty
   </div>
</div>


      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">LastName</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Lastname" type="text"
      formControlName="lastname"
      [ngClass]="{'border-red-600 , border-[2px]': lastname?.touched && lastname?.invalid }"
      required
      >
      </div>
      <div *ngIf="lastname?.touched && lastname?.invalid">
      <div *ngIf="lastname?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-base text-red-600">
        LastName Cannot be Empty
       </div>
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">Phone Number</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Phone Number" type="number"
      formControlName="phonenumber"
      [ngClass]="{'border-red-600 , border-[2px]': phonenumber?.touched && phonenumber?.invalid}"
      required
      >
      </div>
      <div *ngIf="phonenumber?.touched && lastname?.invalid">
      <div *ngIf="phonenumber?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-base text-red-600">
        Phonenumber Cannot be Empty
       </div>
      </div>


    </div>

    <div class="h-full w-max flex flex-col gap-8">
      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">Email</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Email Id" type="email"
      formControlName="email"
      [ngClass]="{'border-red-600 , border-[2px]': email?.touched && email?.invalid}"
      required
      email
      >
      </div>
      <div *ngIf="email?.touched && email?.invalid">
      <div *ngIf="email?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-sm text-red-600">
        <div class="text-base text-red-600" *ngIf="email?.errors?.['required']" >Email Cannot be Empty</div>
      </div>
      <div class="h-max w-full p-2 md:p-3 -mt-5 md:-mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-sm text-red-600" *ngIf="email?.errors?.['email']" >Please Enter a Valid Email</div>
    </div>

      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">Create PassWord</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Create Password" type="password"
      formControlName="password"
      [ngClass]="{'border-red-600 , border-[2px]': password?.touched && password?.invalid }"
      name="password"
      required
      >
    </div>
    <div *ngIf="password?.touched && password?.invalid">
      <div *ngIf="password?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-sm text-white">
        <div class="text-base text-red-600" *ngIf="password?.errors?.['required']" >PassWord Cannot be Empty</div>
      </div>
    </div>

      <div class="flex flex-col">
        <label class="text-xl text-black/80 font-medium" for="">Confirm PassWord</label>
      <input class="border-black/80 h-10 border-2 p-2 outline-none rounded-lg md:h-12" placeholder="Confirm Password" type="password"
      formControlName="confirmpassword"
      [ngClass]="{'border-red-600 , border-[2px]': confirmpassword?.touched && confirmpassword?.invalid }"
      required
      >
      </div>
      <div *ngIf="confirmpassword?.touched && confirmpassword?.invalid">
        <div *ngIf="confirmpassword?.errors?.['required']" class="h-max w-full p-2 md:p-3 -mt-9 rounded-b-lg flex flex-col border-t-0 border-[1px] border-red-600 text-sm text-white">
          <div class="text-base text-red-600" *ngIf="confirmpassword?.errors?.['required']" >Confirm Password Cannot be Empty</div>
        </div>
      </div>
      <div class="text-base text-red-600 h-9 w-full" *ngIf="signUpForm.errors?.['passwordsDontMatch']" >Password Should be Matched</div>

    </div>

  </form>

     <div class="flex flex-col h-max w-full mt-6 justify-center items-center gap-4">
      <button (click)="accountswitch()" class="text-black">Already have an account ?</button>

      <button (click)="signsubmit()" [disabled]="signUpForm.invalid" class="text-xl font-medium h-max w-max p-1 -mt-1 rounded-lg bg-white/70 md:p-3 md:px-6 border-2 border-black" type="button">Submit</button>
     </div>

  </div>
</div>
</div>
