<div class="h-full w-full md:w-full pt-28 pb-32 -mt-16 overflow-hidden flex justify-center items-center bg-transparent backdrop-blur-sm">
  <div class="h-max w-max">
  <div *ngIf="switch" class=" h-80 w-80 rounded-3xl flex flex-col items-center p-3 px-8 md:h-[460px] md:w-[480px] bg-black md:p-6 md:px-4">
    <p class="text-2xl text-white font-semibold md:text-4xl">LOGIN</p>
    <form class="flex flex-col items-center justify-center mt-5 gap-4 md:gap-8 md:mt-10" action="">
      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">UserName</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Username" type="text">
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">PassWord</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Password" type="password">
      </div>

      <button (click)="accountswitch()" class="text-white">Don't have an account ?</button>

      <button class="text-xl font-medium h-max w-max p-1 -mt-1 rounded-lg bg-white/70 md:p-3 md:px-6" type="button">Submit</button>

    </form>
  </div>

  <!-- ------------------------------------------------------------sign-up---------------------------------------- -->

  <div *ngIf="!switch" class=" h-max w-max rounded-3xl flex flex-col items-center p-3 px-8  bg-black md:p-6 md:px-8">
    <p class="text-2xl text-white font-semibold md:text-4xl">LOGIN</p>
    <form class="flex flex-col md:flex-row items-center justify-center mt-5 gap-4 md:gap-8 md:mt-10" action="">

      <div class="h-full w-max flex flex-col gap-8">
      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">FirstName</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Firstname" type="text">
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">LastName</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Lastname" type="text">
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">Phone Number</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Phone Number" type="number">
      </div>
    </div>

    <div class="h-full w-max flex flex-col gap-8">
      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">Email</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Email Id" type="email">
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">Create PassWord</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Create Password" type="password">
      </div>

      <div class="flex flex-col">
        <label class="text-xl text-white font-medium" for="">Confirm PassWord</label>
      <input class="border-bg-gradient-to-b from-sky-800 to-indigo-800 h-10 border-[2px] p-2 outline-none rounded-lg md:h-12" placeholder="Confirm Password" type="password">
      </div>
    </div>

  </form>

     <div class="flex flex-col h-max w-full mt-6 justify-center items-center gap-4">
      <button (click)="accountswitch()" class="text-white">Already have an account ?</button>

      <button class="text-xl font-medium h-max w-max p-1 -mt-1 rounded-lg bg-white/70 md:p-3 md:px-6" type="button">Submit</button>
     </div>

  </div>
</div>
</div>
