<div class="h-16 w-full px-2 flex md:flex-col justify-between md:justify-center items-center md:h-48 md:px-6 ">

  <button class=" md:hidden h-max w-max border border-white rounded-full flex justify-end items-center ">
    <span class="material-symbols-rounded text-xl ml-1 text-white">
    search
      </span>
  <input class="cursor-pointer h-6 w-[2px] focus:w-[140px] focus:pl-2 focus:mr-5 outline-none bg-transparent duration-1000 text-white" placeholder="Search Here" type="text">
  </button>

<button class="h-full w-max md:w-full flex items-center md:pt-1 md:ml-1 justify-center z-50">
  <h1 routerLink="/home" class="font-[1000] text-3xl md:text-5xl tracking-widest text-white  md:text-texty ">SNEW</h1>
</button>

<div class="h-full w-screen md:-mt-8 md:flex md:items-center md:justify-center md:gap-12 hidden ">

<div class="h-60 w-full flex items-end justify-center gap-16 p-4 px-8 -mt-40 hover:bg-white md:bg-white/60 lg:bg-transparent duration-300 ">
  <button routerLink="/home" class="h-max w-max flex flex-col justify-center items-center hover:scale-125">
    <span class="material-symbols-rounded md:text-xl text-texty">
      home
      </span>
    <div class="h-max  rounded-lg md:-mt-1 md:text-xs md:font-medium text-texty hover:scale-125">HOME</div>
  </button>

  <button routerLink="/wishlist" class="h-max w-max flex flex-col justify-center items-center hover:scale-125">
    <span class="material-symbols-rounded md:text-xl text-texty">
      favorite
      </span>
    <div class="h-max  rounded-lg md:-mt-1 md:text-xs md:font-medium text-texty hover:scale-125">WISHLIST</div>
  </button>

  <button routerLink="/cart" class="h-max w-max flex flex-col justify-center items-center hover:scale-125 relative ">
    <span class="material-symbols-rounded md:text-xl text-texty">
local_mall
      </span>
    <div class="h-max  rounded-lg md:-mt-1 md:text-xs md:font-medium text-texty hover:scale-125">BAG</div>
    <p *ngIf="length != 0" class="flex justify-center items-center rounded-full h-6 w-max px-1 bg-red-500/80 text-[19px] absolute top-[-12px] right-[-12px]">{{length}}</p>
  </button>

  <button routerLink="/aboutme" class="h-max w-max flex flex-col justify-center items-center hover:scale-125">
    <span class="material-symbols-rounded md:text-xl text-texty">
      person
      </span>
    <div class="h-max  rounded-lg md:-mt-1 md:text-xs md:font-medium text-texty hover:scale-125">ME</div>
  </button>

  <div class="relative h-max w-max flex flex-col justify-center items-center hover:scale-125 z-50">
    <button (click)="accswitch()" class="md:block h-max flex flex-col justify-center items-center">
      <span class="material-symbols-rounded text-texty text-xl">
        account_circle
        </span>
        <div class="h-max md:-mt-2 md:text-[11px] md:font-medium text-texty ">PROFILE</div>
      </button>

    <div class="h-max w-80 absolute top-11 right-0  bg-white z-50 flex flex-col justify-between items-center gap-12 rounded-sm overflow-hidden" *ngIf="accswi">
      <div class="w-full flex flex-col justify-center items-center p-6">

        <img class="h-[30%] w-[20%] rounded-full"
        src="https://api.dicebear.com/5.x/initials/svg?seed={{Users[0].data.firstname}}"
        alt="avatar" />

        <p class="w-full p-2 px-4 text-lg text-center uppercase">{{Users[0].data.firstname}}</p>
     <div class="w-full flex justify-between items-center ">
      <p class="text-base w-max ">Mobile Number :</p>
      <p class="w-max p-2 px-4 text-xs text-start">{{Users[0].data.phonenumber}}</p>
     </div>
      <div class="w-full flex justify-between items-center">
        <p class="text-base w-max ">Email ID :</p>
        <p class="w-max p-2 px-4 text-xs text-start">{{Users[0].data.email}}</p>
      </div>
      </div>
      <button (click)="logOut()" class="w-[50%] mb-5 p-2 px-4 text-xs rounded-md border-[1px] border-black/40 bg-black/20">LogOut</button>
    </div>
  </div>

  <div class="search-container -mb-1 relative hover:bg-black/20">
    <input type="text" name="search" placeholder="Search..." class="search-input ">
    <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
    </a>
    <div class="absolute top-2 right-2">
      <span class="material-symbols-rounded">
        search
        </span>
    </div>
  </div>

</div>

</div>

<button (click)="accswitch()" class="relative md:hidden h-14 md:h-28 md:w-28 pt-1 md:pl-10  ">
  <span class="material-symbols-rounded text-white text-3xl">
    account_circle
    </span>
</button>
<div class="md:hidden h-[40vh] w-2/3 absolute top-16 right-0  bg-black z-50 flex flex-col justify-between items-center rounded-sm" *ngIf="accswi">
  <div *ngIf="Users" class="w-full flex flex-col justify-center items-center p-3 pt-4">

    <img class="h-[50%] w-[36%] bg-[rgb(216,27,96)] object-contain rounded-full"
    src="https://api.dicebear.com/5.x/initials/svg?seed={{Users[0].data.firstname}}"
    alt="avatar" />

    <p class="w-full p-2 text-lg text-center uppercase text-white">{{Users[0].data.firstname}}</p>
    <div class="w-full flex justify-between items-center ">
     <p class="text-xs font-semibold w-max text-white ">Mobile Number :</p>
     <p class="w-max p-2 text-xs text-start text-white">{{Users[0].data.phonenumber}}</p>
    </div>
     <div class="w-full flex justify-between items-center">
       <p class="text-xs font-semibold w-max text-white ">Email ID :</p>
       <p class="w-max p-2 text-xs text-start text-white">{{Users[0].data.email}}</p>
     </div>

  </div>
  <button (click)="logOut()" class="w-[50%] mb-5 p-2 px-4 text-xs rounded-md border-[1px] border-white/40 bg-white/20 text-white">LogOut</button>
</div>



</div>

