

  <div class="hidden md:block h-max w-full px-6 py-2 absolute -top-[110px] hover:bg-black/30 duration-1000">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="h-max w-full p-3 md:py-44 pb-28 md:pb-0 ">

  <div class="h-max  md:w-max lg:w-[1250px] lg:h-[600px] flex flex-col md:flex-row items-center md:drop-shadow-16xl bg-white rounded-md mx-auto overflow-hidden" >

    <div class=" w-[80%] lg:w-[53%]">
    <div class="h-max w-max flex flex-col gap-[2px] p-6 md:hidden">
      <p class="text-red-800 text-sm ">Member Access</p>
      <h2 class="text-2xl font-normal">{{array.data.title}}</h2>
      <p class="text-xs">Older Kids' Shoes</p>

      <p class="text-sm mt-2">MRP : ${{array.data.discountrate}}</p>
      <p class="text-xs text-gray-500">incl.of taxes</p>
      <p class="text-xs text-gray-500">(Also includes all applicable duties)</p>
    </div>

    <div class="h-full w-full flex justify-center items-center md:w-full ">
  <img class="h-full w-80 object-cover rounded-md md:h-[95%] md:w-[95%] " src="{{array.data.postImgPath}}" alt="">
</div>
</div>

<div class="md:h-full lg:w-[47%] md:px-12 md:pr-[7.5625rem] ">

  <div class="hidden h-max w-full mt-5 md:flex flex-col gap-[2px] p-6 md:p-0">
    <p class="text-red-800 text-sm md:text-base">Member Access</p>
    <h2 class="text-2xl font-normal md:text-3xl">{{array.data.title}}</h2>
    <div class="w-full h-max text-xs md:text-base" [innerHTML]="array.data.content"></div>

    <p class="text-sm mt-2 md:text-base md:mt-4">MRP : ${{array.data.discountrate}}</p>
    <p class="text-xs text-gray-500 md:text-sm">incl.of taxes</p>
    <p class="text-xs text-gray-500 md:text-sm">(Also includes all applicable duties)</p>
  </div>

<div class="h-80 w-full pt-4 ">
<div class="flex justify-between items-end pb-1 px-9 h-max w-full md:px-0">
<p class="text-sm text-gray-800 md:text-sm md:font-medium">Select Size</p>
<p class="text-xs text-gray-500 md:text-sm">Size Guides</p>
</div>


<div class="h-max w-full flex justify-center items-center ">
  <div class="w-full lg:w-[85%] flex flex-wrap justify-center md:justify-start pl-2 gap-1 md:w-full md:pl-0 ">
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 3.5</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 3</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 4</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 4.5</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 5</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 5.5</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 6 (EU 39)</button>
    <button class="h-10 w-24 text-sm text-black/90 flex justify-center items-center border-[1px] border-black rounded focus:bg-black/90 focus:text-white">UK 6 (EU 40)</button>
  </div>
</div>

<div class="px-8 mt-5 md:px-0">

<button (click)="addtocart()" class=" h-14 w-full flex justify-center items-center rounded-full mt-2 bg-black/90 border-[1px] text-white border-black active:bg-white">
Add To Bag
</button>

<button (click)="addtowish()" class="flex justify-center items-center gap-2 h-14 w-full rounded-full mt-2 border-[1px] border-black">
  <p>Favourite</p>
  <span class="material-symbols-rounded ">
    favorite
    </span>
</button>

</div>

<div class="w-full h-max  pt-3">
  <p class="w-full text-sm text-gray-500 flex justify-center text-center">This product is excluded from site promotions and discounts.</p>
</div>
</div>


</div>

  </div>
</div>
